//start general properties for website
@import 'animations';
@font-face {
    font-family: "semiBold";
    src: url(../fonts/arab_font/ArbFONTS-URW-DIN-Arabic-Medium.ttf);
}

@font-face {
    font-family: "regular";
    src: url(../fonts/arab_font/ArbFONTS-URW-DIN-Arabic-Light.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../fonts/arab_font/ArbFONTS-URW-DIN-Arabic-Bold.ttf);
}

* {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*button mixin*/
@mixin afterButton {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba($color: #f1f1f1 , $alpha: .5);
    z-index: -1;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}
@mixin beforeButton
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba($color: #f1f1f1 , $alpha: .5);
    z-index: -1;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
}
@mixin button {
    color: #fff;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: .5s;
    position: relative;
    z-index: 99;
    i{
        margin: 0px 10px;
    }
}
@mixin buttonHover {
    color: #000;
    i{
        animation: translateX .5s linear infinite;
    }
    &::before{
        transform: scaleX(1);
        transition: transform .5s;
        transform-origin: right;
    }
    &::after{
        transform: scaleX(1);
        transition: transform .5s;
        transform-origin: left;
    }
}
/*heading mixin*/
@mixin beforeHeading {
    content: '';
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    height: 6px;
    background-color: #d6b92a;
    z-index: -1;
    transform: translate(-50% , -50%) scaleX(0);
    transition: transform .5s ;
}
@mixin headingHover {
    &::before{
        transform: translate(-50% , -50%) scaleX(1);
    }
}
@mixin haeding {
    position: relative;
    transition: .5s ;
    z-index: 99;
    overflow: hidden;
    width: fit-content;
}
/*circle mixin*/
@mixin afterCircle{
    content: '';
    position: absolute;
    bottom: 20%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid rgba(255 , 255 , 255 , .5);
    animation: spinner 1s ease-in-out infinite;
}
@mixin circle{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 25%;
    right: -41px;
    border-radius: 50%;
    animation: niceAnimate 2s ease-in-out infinite;
}
/*start after graph*/
@mixin afterGraphBK{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    right: -60px;
    bottom: -100px;
    background: url(../images/graphs/grid.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.dropdown-item
{
    margin: 0px !important;
    color: #000 !important;
    text-align: center;
}
.btn:focus,
button:focus,
input:focus,
.form-control:focus {
    outline-width: 0px !important;
    outline-color: transparent !important;
    box-shadow: 0 0 0 0 rgba($color: #000000, $alpha: 0);
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3 {
    font-family: "bold";
}

h4,
h5,
h6 , .nav-link {
    font-family: "semiBold";
}


span  , p , .form-control::placeholder{
    font-family: 'regular';
}
html[dir='rtl'] {
    .scroll-top-btn {
        left: 20px;
    }
    .share{
        left: 30px;
    }
    .mobile-nav .nav-mobile-links .links ,
    .about-us .about-us-contain h6::after ,
    .about-us .about-us-contain h4::after
    {
        right: 0px !important;
    }
  
}
html[dir='ltr'] {
    .scroll-top-btn {
        right: 20px;
    }
    .share
    {
        right: -15px;
    }
    .mobile-nav .nav-mobile-links .links ,
    .about-us .about-us-contain h6::after ,
    .about-us .about-us-contain h4::after 
    {
        left: 0px !important;
    }

    .dropdown .dropdown-menu.show
    {
        transform: translate3d(-22px, 55px, 0px) !important;
    }
}
body{
    overflow: hidden;
    background-color: rgb(250, 251, 254);

    &::-webkit-scrollbar-thumb {
        background-color: #0fae5d;
        border-radius: 5px;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #ddd;
    }
}
//end general properties for website
/*start navbar*/
.navbar-fixed-top.scrolled {
    background-color: rgba($color: #000, $alpha: .8) !important;
    transition: background-color 100ms linear;
    opacity: 1;
    box-shadow: 0px 3px 4px 0px #ddd;
}

nav{
    width: 100%;
    padding: 20px 0px;
    .nav-content {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .image-content {
            width: 49px;
            height: 55px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .navbar-nav {
            display: flex;
            flex-direction: row;
            list-style: none;
            width: fit-content;
            margin-left: auto;
            padding: 0px !important;

            .nav-item {
                margin-bottom: -1px;
                display: flex;
                align-items: center;
                padding-right: 0px;
                padding-left: 0px;
                position: relative;
                .nav-link {
                    display: block;
                    color: #fff;
                    margin-right: 2rem;
                    padding-bottom: 7px;
                    position: relative;
                    z-index: 1;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        background-color: rgba($color: #d6b92a , $alpha: 1);
                        bottom: 0;
                        left: 0;
                        transform: scaleX(0);
                        transition: transform .5s linear;
                    }
                }
                &.active ,
                &:hover{
                    a{
                        &::before{ 
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
        .contact-icon{
            width: fit-content;
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            list-style: none;
            margin: 0px;
            li{
                width: 30px;
                height: 30px;
                margin: 0px 5px;
                background-color: rgba($color: #fff , $alpha: .3);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50% ;
                i{
                    color: #fff;
                    transition: .5s linear;
                }
                &:hover{
                    i{
                        color: #d6b92a;
                        transform: scale(.9);
                        animation: translateY 1s linear infinite;
                    }
                }
            }
        }
        .dropdown, .dropleft, .dropright, .dropup
        {
            display: flex;
        }
        .dropdown
        {
            .dropdown-toggle{
                color: #fff !important;
            }
            .drop-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                
                color: #000;
                .image-content{
                    width: 40px;
                    height: 40px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}
.mobile-nav
{
    display: none;
    z-index: 999;
    position: fixed;
    .mobile-nav-toggler{
        width: 100%;
        padding: 25px 0px;
        background-color: #000;
        box-shadow: 0px 0px 20px #0fae5d;
        position: fixed;
        bottom: 0px;
        left: 0px;    
        z-index: 999;  
        .togller-btn{
            position: absolute;
            width: 40px;
            height: 20px;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            overflow: hidden;
            cursor: pointer;
            span{
                width: 100%;
                height: 2px;
                background-color: #0fae5d;
                position: absolute;
                transition: .5s ease-in-out;
                &:nth-child(1){
                    bottom: 0;
                }
                &:nth-child(2){
                    top: 50%;
                    transform: translateY(-50%);
                    transition: .5s ease-in-out;
                }
               
            }
            
        }
       
    }
    .nav-mobile-links
    {
        width: 100%;
        height: 100vh;
        position: fixed;
        bottom: -150%;
        transition: bottom .5s linear;
        .overlay{
            width: 100%;
            height: 100%;
            background-color:rgba( 0 , 0 , 0 , .5 );
        }   
        .links{
            width: 50%;
            height: 100%;
            background-color: #000;
            box-shadow: 0 0 10px #0fae5d;
            position: absolute;
            top: 0px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-content: center;
            flex-direction: column;
            .image-content{
                width: 60px;
                height: 60px;
                margin: 0 auto;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            
            ul{
                list-style: none;
                width: 100%;
                text-align: center;
                height: fit-content;
                padding: 0px;
                margin: 0px;
                padding-bottom: 30%;
                li{
                    padding: 10px 0px;
                    a{
                        color: #fff;
                        position: relative;
                        z-index: 1;
                        padding-right: 0;
                        padding-left: 0;
                        margin: 0px 1rem;
                        &::before{
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 3px;
                            background-color: rgba($color: #d6b92a , $alpha: 1);
                            bottom: 0;
                            left: 0;
                            transform: scaleX(0);
                            transition: transform .5s linear;
                        }
                    }
                    &.active ,
                    &:hover{
                        a{
                            &::before{ 
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }
        }
    }
}

.active-toggle{
    span:nth-child(2){ 
        transform: translateX(-50px);
        transform-origin: left;
        transition: .5s ease-in-out;
        opacity: 0;
    }
    span:nth-child(1){ 
        transform: rotate(45deg);
        transition: .5s ease-in-out;
    }
    span:nth-child(3){ 
        transform: rotate(-45deg);
        transition: .5s ease-in-out;
    }
}
.active-nav{
    transition: bottom .5s linear;
    bottom: 0% !important;
}
/*end navbar*/
/*satrt main*/
/*start header*/
header{
    width: 100%;
    height: 100%;
    padding: 100px 0px;
    background-color: #0fae5d;
    overflow: hidden;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        left: -50px;
        width: 100px;
        height: 100px;
        top: 10%;
        border-radius: 50%;
        background-color: transparent;
        border: 4px solid rgba(255 , 255 , 255 , .5);
        animation: spinner 1s ease-in-out infinite;
    }
    &::before{
        @include afterCircle;
        right:-50px;   
    }
    .circle
    {
       @include circle; 
    }
    .header-content
    {
        padding: 50px 0px 20px 0px;
        .header-container
        {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            .content
            {   
                h3{
                    font-size: 38px;
                    color: #fff;
                    @include haeding();
                    &::before{
                        @include beforeHeading();
                    }   
                    &:hover{
                       @include headingHover();
                    }
                }
                p{
                    font-size: 15px;
                    color: #fff;
                    margin: 15px 0px;
                    line-height: 24px;
                    letter-spacing: .12px;
                }
                .btn{
                    background-color: #d6b92a;
                    @include button;
                    &::before{
                        @include beforeButton
                    }
                    &::after{
                        @include afterButton;
                    }
                   
                    &:hover{
                       @include buttonHover;
                    }
                }
            }
        }
       
        
        .image-content{
            width: 100%;
            height: 500px;
            position: relative;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                z-index: 9;
            }
            &::after{
                content: '';
                position: absolute;
                width: 10%;
                height: 10%;
                border: 10px solid #d6b92a;
                top: -10px;
                right: -10px;
                border-left: none;
                border-bottom: none;
                z-index: 99;
                transition: all .5s linear;
            }
            &::before{
               @include afterGraphBK;
            }
            &:hover{
                &::after{
                    top:0px;
                    right: 0px;
                    width: 100%;
                    height: 100%;
                    border: none;
                    background-color: rgba($color: #d6b92a, $alpha: .4);
                }
            }
        }
    }
}
/*end theader*/
/*start why us*/
.why-us
{
    width: 100%;
    padding: 50px 0px;
    position: relative;
    overflow: hidden !important;
    .why-us-content
    {
        border-bottom: 2px solid #e8e8e8;
        .why-us-heading{
            text-align: center;
            padding-bottom: 20px;
            h3{
                @include haeding();
                margin: 0px auto 8px;
                &::before{
                    @include beforeHeading();
                }
                &:hover{
                    @include headingHover();
                }
            }
            p{
                color: #8a8a8a;
                font-size: 15px;
            }
        }
        .box
        {
            width: 100%;
            padding: 14.9px 18px 15px 18px;
            box-shadow: 0 4.5px 17px 0 rgba(0 , 0 , 0 , 0.3);
            border-radius: 10px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-direction: column;
            transition: all 500ms ease;
            position: relative;
            z-index: 9;
            overflow: hidden;
            margin-bottom: 40px;
            .box-image{
                width: 50px;
                height: 50px;
                border-radius: 8px;
                background-color: rgba($color: #0fae5d , $alpha: .1);
                transform: rotate(45deg);
                margin-bottom: 20px;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                overflow: hidden;
                transition: all 500ms ease;
                img{
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                    transform: rotate(-45deg);
                    &.eyes{
                        filter: invert(48%) sepia(49%) saturate(981%) hue-rotate(103deg) brightness(97%) contrast(88%);
                    }
                }
            }
            .box-content
            {
                text-align: center;
                h5{
                    color: #484848; 
                    transition: all 500ms ease;
                }
                p{
                    color: #929292;
                    transition: all 500ms ease;
                }
            }
            &::before{
                content: '';
                position: absolute;
                border-radius: 10px;
                background: linear-gradient(90deg , #d6b92a 0% , #0fae5d 100%);
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: scale(0 , 1);
                transform-origin: right;
                transition: transform 500ms ease;
                z-index: -1;
            }
            &::after{
                content: '';
                position: absolute;
                width: 50%;
                height: 50%;
                bottom: -50px;
                z-index: -1;
                left: 0%;
                background-color: rgba($color: #fff , $alpha: 0);
                border-top-left-radius: 30%;
                border-top-right-radius: 10%;
                border-bottom-left-radius: 20%;
                border-bottom-right-radius: 70%;
                transition: transform 500ms ease;
            }
            &:hover{
                .box-image
                {
                    background-color: #ddd;
                    transform: rotate(-45deg);
                    img{
                        transform: rotate(45deg);
                    }
                }
                p , h5{
                    color: #fff;
                }
                &::before{
                    transform: scale(1 , 1);
                    transform-origin: left;
                }
                &::after{
                    animation: rotate 4s linear infinite;
                    background-color: rgba($color: #fff , $alpha: .3);
                }
            }
        }
    }
    &::after{
        @include afterCircle;
        left: -37px;
        bottom: 0% !important;
        border-color: #f2f2f2 !important;
    }
    .circle
    {
        @include circle();
        right: 100%;
        left: -37px!important;
        bottom: 0% !important;
        background-color: rgba($color: #ddd , $alpha: .5) !important;
    }
}
/*end why us*/
/*start about-us*/
.about-us{
    width: 100%;
    padding: 60px 0px 100px 0px;
    position: relative;
    overflow: hidden !important;
    &::after{
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        background: url(../images/graphs/point.png);
        background-size: contain;
        right: 0px;
        top: 0px;
    }
    .about-us-contain{
        h6{
            color: #d6b92a;
            position: relative;          
            width: fit-content;
            margin: 0px;
            padding: 0px 35px;
            &::after{
                content: '';
                position: absolute;
                width: 30px;
                height: 3px;
                background-color: #d6b92a;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        h4{
            font-size: 40px;
            color: #202020;
            margin: 8px 0px 18px 0px;
            position: relative;          
            width: fit-content;
            padding: 0px 10px;
            @include haeding();
            &::after{
                content: '';
                position: absolute;
                width: 3px;
                height: 100%;
                background-color: #d6b92a;
                top: 0px;
            }
            &::before{
                @include beforeHeading();
            }
            &:hover{
                @include headingHover();
            }
        }
        p{
            color: #929292;
            font-size: 15px;
            margin-bottom: 15px;
        }
        .btn{
            background-color: #0fae5d;
            @include button();
            &::after{
                @include afterButton();
            }
            &::before{
                @include beforeButton();
            }
            &:hover{
                @include buttonHover();
            }
        }
    }
    .image-content
    {
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative;
        display: flex;
        transition: all .4s linear;
        img{
            width: 95%;
            height: 90%;
            object-fit: cover;
            margin: auto;
            position: relative;
            z-index: 9;
            transition: all .4s linear;
        }
        &::after{
            content: '';
            position: absolute;
            width: 290px;
            height: 290px;
            border: 6px solid #0fae5d;
            left: 0px;
            z-index: -1;
            transition: all .4s linear;
        }
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba($color: #0fae5d , $alpha: .0);
            left: 0%;
            top: 0;
            z-index: 99;
            transition: all .4s linear;
            transition-delay: .1s;
        }
        .full-shape
        {
            width: 40px;
            height: 40px;
            background: #0fae5d;
            position: absolute;
            bottom: 10px;
            right: 0;
        }
        .border-shape{
            
            width: 40px;
            height: 40px;
            border: 3px solid #d6b92a;
            position: absolute;
            bottom: 0px;
            right: 20px;
        }
        &:hover{
            img{
                width: 98%;
                height: 97%;
            }
            &::after{
                width: 100%;
                height: 100%;
            }
            .border-shape
            {
                opacity: 0;
            }
            &::before{
                background: rgba($color: #0fae5d , $alpha: .5);
                transition-delay: 0s;
            }
        }
    }
}
/*end about-us*/
/*start services*/
.services{
    width: 100%;
    padding:50px 0px;
    background: #0fae5d;
    position: relative;
    &::after{
        @include afterGraphBK;
        width: 100px !important;
        height: 150px !important;
        right: 0px !important;
        bottom: 0px !important;
    }
    .services-content{
        padding-right: 106px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3  ,p {
            color: #ffffff;
        }
        h3{
            @include haeding();
            &::before{
                @include beforeHeading()
            }
            &:hover{
                @include headingHover();
            }

        }
        p{
            margin: 15px 0px;
        }
        .btn{
            @include button();
            background: #d6b92a;
            &::before{
                @include beforeButton();
            }
            &::after{
                @include afterButton();
            }
            &:hover{
                @include buttonHover();
            }
        }
    }
    .service-slider{
        margin-top: -100px ;
        margin-left: -15px;
        .image-content{
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .5s linear;
            }
            &::after , &::before{
                content: '';
                position: absolute; 
                border: 4px solid #d6b92a;
                top: 0;
                left: 0;     
            }
            &::after{
                width: 100%;
                border-top: none;
                border-bottom: none;  
                height: 0%;
                transition: height .5s linear;
            }
            &::before{
                width: 0%;
                height: 100%;
                border-left: none;
                border-right: none;
                transition: width .5s linear;
            }
            &:hover{
                &::after{
                    height: 100%;
                }
                &::before{
                    width: 100%;
                }
                img{
                    transform: scale(.95);
                }
            }
        }
    }
}
/*end services*/
/*start articles*/
.articles
{
    width: 100%;
    padding: 50px 0px;
    overflow: hidden;
    .articles-heading
    {
        text-align: center;
        h4{
            color: #202020;
            margin: auto;
            @include haeding();
            &::before{
                @include beforeHeading();
            }
            &:hover{
                @include headingHover();
            }
        }
        p{
            color: #8a8a8a;
            margin: 10px 0px 20px 0px;
        }
    }
    .box
    {
        padding: 0px 10px 20px 10px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
        .image-content{
            width: 100%;
            height: 200px;
            overflow: hidden;
            position: relative;
            img{    
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &::after , &::before{
                content: '';
                position: absolute;
                width: 50%;
                height: 100%;
                background: rgba($color: #0fae5d , $alpha: .5);
                transition: all 500ms ease;
            }
            &::after
            {
                top: -100%;
                left: 0;
            }
            &::before
            {
                bottom: -100%;
                right: 0;
            }
        }
        .box-contain
        {
            padding: 15px;
            box-shadow: 0 6px 7px 0 rgba(239, 239, 239, 0.16);
            background-color: #ffffff;
            h5{
                color: #484848;
                margin-bottom: 10px;
                transition: all 500ms ease;
            }
            p{
                color: #929292;
                
            }
            .btn{
                color: #0fae5d;
                position: relative;
               
                i{
                    margin: 0px 10px;
                }
                &::after , &::before{
                    content: '';
                    position: absolute;
                    border: 1px solid #0fae5d;
                    top: 0;
                    left: 0;
                    transition: all 500ms ease;
                }
                &::after{
                    width: 100%;
                    height: 0%;
                    border-top: 0;
                    border-bottom: 0;
                }
                &::before{
                    width: 0%;
                    height: 100%;
                    border-left: 0;
                    border-right: 0;
                }
            }
        }
        &:hover{
            .image-content{
                &::after{
                    top: 0;
                }
                &::before
                {
                    bottom: 0;
                }
            }
            .box-contain .btn 
            {
                &::after{
                    height: 100%;
                }
                &::before 
                {
                    width: 100%;
                } 
            }
            h5{
                color: #0fae5d;
            }
        }
    }
}
/*end articles*/
/*satrt contact-us*/
.contact-us
{
    width: 100%;
    padding: 50px 0px;
    background: url(../images/contact_us/map_bk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    .contact-us-heading
    {
        text-align: center;
        h4{
            color: #202020;
            margin: auto;
            @include haeding();
            &::before{
                @include beforeHeading();
            }
            &:hover{
                @include headingHover();
            }
        }
        p{
            color: #8a8a8a;
            margin: 10px 0px 20px 0px;
        }
    }
    .contact-message
    {
        h5{
            color: #202020;
            @include haeding();
            &::before{
                @include beforeHeading();
            }
            &:hover{
                @include headingHover();
            }
        }
        p{
            color: #8a8a8a;
            margin: 10px 0px 20px 0px;
        }
    }
    form{
        .form-group{
            margin-bottom: 30px;
        }
        .box{
            position: relative;
            width: 100%;
            height: 40px;
            color: #ababab;
            .text{
                position: absolute;
                top: 0;
                right: 0;
                line-height: 40px;
                padding: 0px 10px;
                display: block;
                transition: .5s;
                pointer-events: none;
                z-index: 99;
            }
            .line{
                position: absolute; 
                bottom: 0;
                display: block;
                width: 100%;
                height: 0%;
                background: #0fae5d;
                transition: .5s;
                border-radius: 6px;
                pointer-events: none;
            }
            .form-control{
                position: absolute;
                width: 100%;
                height: 100%;
                box-shadow: none;
                z-index: 1;
                background-color: #f8f8f8 ;
                padding: 7.5px 10.5px 8px 163.5px;
                border-radius: 6px;
                border: solid 0.5px transparent;
                margin-bottom: 30px;
                color: #000;
                &:focus 
                {
                    +.text{
                        top: -35px;
                        right: -10px;
                    }
                    ~.line
                    {
                        height: 100%;
                    }
                }
                &:valid{
                    + .text{
                        top: -35px;
                        right: -10px;
                    }
                    ~.line
                    {
                        height: 100%;
                    }
                }
               
            }
           
        }
        .textarea
        {
            position: relative;
            width: 100%;
            height: 100px;
            padding: 10px 0px;
            textarea{
                width: 100%;
                height: 100%;
                resize: none;
                top: 0;
                left: 0;
                &:focus 
                {
                    +.text{
                        top: -35px;
                        right: -10px;
                    }
                    ~.line
                    {
                        height: 100%;
                    }
                }
                &:valid{
                    + .text{
                        top: -35px;
                        right: -10px;
                    }
                    ~.line
                    {
                        height: 100%;
                    }
                }
            }

        }
       
        .btn
        {
            background: #0fae5d;
            @include button;
            padding: 6.5px 21.3px 6.5px 20px;
            border-radius: 6px;
            &::after{
                @include afterButton();
            }
            &::before{
                @include beforeButton();
            }
            &:hover{
                @include buttonHover();
            }
        }
    }
    .contact-cards
    {
        .box{
            padding: 20px 50px;
            background: #fff;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            
            .image-content{
                width: 30px;
                height: 30px;
                position: relative;
                z-index: 9;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    filter: invert(48%) sepia(49%) saturate(981%) hue-rotate(103deg) brightness(97%) contrast(88%);
                    transition: all 500ms ease;
                }
            }
            .box-content
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                position: relative;
                z-index: 9;
                h5{
                    color: #484848;
                    margin: 10px 0px;
                    transition: all 500ms ease;
                }
                ul{
                    list-style: none;
                    padding: 0px;
                    margin: 0px;
                }
                p , a {
                    color: #929292;
                    font-size: 14px;
                    text-align: center;
                    transition: all 500ms ease;
                }
                
            }
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 0%;
                background-color:  #0fae5d;
                bottom: 0;
                left: 0;
                border-radius: 12px;
                z-index: 8;
                transition: all 500ms ease;
            }
            &:hover{
                &::after{
                    height: 100%;
                }
                .image-content img {
                    filter: invert(99%) sepia(0%) saturate(632%) hue-rotate(83deg) brightness(115%) contrast(100%);
                    animation: rotation 1s linear infinite;
                }
                h5 , p , a {
                    color: #fff !important;
                }
            }
        }
    }
}
/*end contact-us*/
/*start partner*/
.partner{
    width: 100%;
    padding: 50px 0px;
    background-color: #fff;
    overflow: hidden;
    .partner-heading
    {
        text-align: center;
        h4{
            color: #202020;
            margin: auto;
            @include haeding();
            &::before{
                @include beforeHeading();
            }
            &:hover{
                @include headingHover();
            }
        }
        p{
            color: #8a8a8a;
            margin: 10px 0px 30px 0px;
        }
    }
    .owl-partner
    {
        .item{
            padding: 20px 0px;
            .image-content{
                width: 70px;
                height: 60px;
                overflow: hidden;
                margin: auto;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    transform: scale(.9);
                    transition: .5s;
                }
                &:hover{
                    img{
                        transform: scale(1);
                    }
                }
            }
        }
      
    }
}
/*end partner*/
/*end main*/
/*start footer*/
footer
{
    width: 100%; 
    padding: 100px 0px 0px 0px;
    background-color: transparent;
    position: relative;
    background-color: #0fae5d;
    overflow: hidden;
   &::after{
       content: '';
       position: absolute;
       width: 100%;
       height: 100px;
       background: url(../images/icons/waves.svg);
       background-size: cover;
       top: -2px;
       left: 0;
   }
   .footer-content
   {
       width: 100%;
       height: 100%;
       padding: 60px 0px 0px 0px;
        .navbar
        {
            list-style: none;
            .nav-item
            {
                position: relative;
                overflow: hidden;
                a{
                    color: #fff;
                    padding: .5rem .5rem !important;
                    position: relative;
                    z-index: 1;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 0%;
                        height: 33.33%;
                        background-color: rgba($color: #d6b92a , $alpha: .6);
                        bottom: 66.66%;
                        left: 0;
                        transition: width .5s linear;
                    }
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 33.33%;
                    background-color: rgba($color: #d6b92a , $alpha: .6);
                    top: 33.33%;
                    right: 0;
                    transition: width .5s linear;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 33.33%;
                    background-color: rgba($color: #d6b92a , $alpha: .6);
                    bottom: 0;
                    left: 0;
                    transition: width .5s linear;
                }
                &:hover{
                    a{
                        &::before{ 
                            width: 100%;
                        }
                    }
                    &::before , &::after{ 
                        width: 100%;
                    }
                }
            }
        }
        .image-content
        {
            width: 70px; 
            height: 70px;
            overflow: hidden;
            margin: auto;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: all .5s linear;
            }
            &:hover{
                img{
                    transform: scale(.9);
                    animation: niceAnimate 1s linear 2;
                }
            }
        }
        .kian-logo
        {
            width: 100px; 
            height: 60px;
            overflow: hidden;
            margin: auto;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: all .5s linear;
            }
            &:hover{
                img{
                    transform: scale(.9);
                    filter: invert(64%) sepia(87%) saturate(385%) hue-rotate(10deg) brightness(98%) contrast(89%);
                    animation: vibrate 1s linear 2;
                }
            }
        }
        .contact-icon
        {
            list-style: none;
            position: relative;
            display: flex;
            justify-content: center;
            padding: 16px 0px;
            li{
                position: relative;
                margin: 0px 10px;
                cursor: pointer;
                a{
                    i{
                        font-size: 1.5em;
                        color: #fff;
                        transition: .5s ease-in-out;
                    }
                }
                &:hover{
                    i{
                        color: #d6b92a;
                        transform: scale(.9);
                        animation: translateY 1s linear infinite;
                    }
                }
            }
        }
   }
  

}
/*end footer*/
/*start loading page*/
.loader {

    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999; 
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    .circle{
        width: 250px;
        height: 250px;
        position: relative;
        background: linear-gradient(#0fae5d , #d6b92a);
        border-radius: 50%;
        animation: circled 0.5s linear infinite;
        
        &::after{
            content: '';
            position: absolute;
            top: 35px;
            right: 35px;
            bottom: 35px;
            left: 35px;
            background: #000000;
            border-radius: 50%;
        }
        span{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(#0fae5d , #d6b92a); 
            border-radius: 50%;
            &:nth-child(1){
                filter: blur(5px);
            }
            &:nth-child(2){
                filter: blur(18px);
            }
            &:nth-child(3){
                filter: blur(20);
            }
            &:nth-child(4){
                filter: blur(55px);
            }
        }
    }
}


//scroll to top btn 
.scroll-top-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #000;
    border: 1px solid #0fae5d;
    color: #fff;
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom: 20px;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(15, 174, 93 , .4);
    transition: all 0.1s ease-in-out;

    &:hover {
        border-radius: 50%;
        color: #fff;
    }

    img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        filter: invert(58%) sepia(54%) saturate(6412%) hue-rotate(123deg) brightness(98%) contrast(88%);
    }
}

//start share
.share
{
  position: fixed;
  top: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  z-index:99;
  display: none;
  cursor: pointer;
  img{
    object-fit: contain;
    width: 30px;
    height: 30px;
    filter: invert(46%) sepia(99%) saturate(406%) hue-rotate(97deg) brightness(96%) contrast(91%);
  }
  ul{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    list-style: none;
    
    &.active li
    {
      &:first-child
      {
        top: -100%;
        left: 0%;
      }
      &:nth-child(2)
      {
        top: -100%;
        left: 100%;
      }
      &:nth-child(3)
      {
        top: 0%;
        left: 100%;
      }
      &:nth-child(4)
      {
        top: 100%;
        left: 100%;
      }
      &:nth-child(5)
      {
        top: 100%;
        left: 0%;
      }
    }
    li{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border: 2px solid #0fae5d  ;
        background-color: #000;
        transition: .5s;
        overflow: hidden;
        border-radius: 10px;
        transform: scale(0.95);
        text-align: center;
        box-shadow: 0px 0px 5px #555;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
      a{
        color: #0fae5d;
      }
    }
  }
  .toggle
  {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000 ;
    border: 2px solid #0fae5d ;
    box-shadow: 0px 0px 20px #555;
    z-index: 9999;
    transform: scale(0.95);
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  i{
      position: relative; 
      top: 50%;
      font-size: 30px;
      
      transform: translateY(-50%);  
  }
}